<%= turbo_frame_tag dom_id(twitter_message) do %>
<blockquote>
<p>
<strong>
User:
</strong>
<%= twitter_message.user.username%>
</p>
<p>
<strong>
tweet:
</strong>
<%= twitter_message.data["text"] %>
</p>
</blockquote>
<% end %>